.lang {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.603);
    text-transform: uppercase;
    padding: 0 24px 0 24px;
    height: 48px;
    line-height: 48px;
    font-weight: 600;
}
.lang.focused {
    border-bottom: 3px solid #4285f4;
    height: 45px;
    color: #4285f4;
}