.main {
    background-color: #ffffff;
    min-height: 100vh;
    width: 100%;
    position: fixed;
}
.title {
    margin: 15px 50px;
    font-size: 28px;
    color: #000000;
}
.layer1 {
    height: 150px;
    background: #f5f5f5;
    border-top: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
}
.layer2 {
    background: #ffffff;
}
.layer3 {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    max-width: 1280px;
    max-height: 400px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    top: -90px;
            border-radius: 8px;
    background: #ffffff;
    border: 1px solid #d4d4d4;
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
            min-height: 220px;
            overflow: auto;
            z-index: 5;
            cursor: default;
}
.layer4 {
    display: none;
    flex-flow: row wrap;
    align-items: center;
    max-width: 1280px;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    margin: 0 auto;
    top: -75px;
    position: relative;
}
.viewHistory {
    display: flex;
}
.content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100%;
    flex-grow: 1;
    margin-top: 50px;
}
.hideContent {
    display: none;
}
