.lang-list {
    display: none;
    overflow: auto;
    height: 375px;
    background: #fff;
    border: 1px solid #d4d4d4;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}
.show {
    display: block;
}
